{% extends 'base.html.twig' %}
{% block title %}Tüm Kategoriler{% endblock %}

{% block body %}


<table class = " table">
    <thead>
        <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Parent</th>
    <tbody>
        {% for item in items%}
        <tr>
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.parent}}</td>
          <td>
          <a href="{{path('category_remove',{id: item.id})}}" class="delete" onclick="return confirm('Emin misin=?' )">Sil </a>
        
        </td>
        </tr>
        {% endfor %}

{% endblock %}
