{% extends 'base.html.twig' %}

{% block title %}Siparişi Tamamla{% endblock %}

{% block body %}
	{% if is_granted('ROLE_ADMIN') %}
		{% include 'admin/inc/adminnav.html.twig'  %}
        {% include 'inc/navbar.html.twig'  %}
                    
	{% else %}
		{% include 'inc/navbar.html.twig'  %}
	{% endif %}
<div class="col-md-8">

    <hr>
    
    {{ form_start(form, {'attr': {'class': 'mt-4 p-4 bg-light'}}) }}
    
    {{ form_end(form) }}
</div>


{% endblock %}
